web/vendor/
web/node_modules/
web/.keys/
web/.keys/*.json
!web/.keys/*.json.example
web/up/
web/.env
!web/.env.example
.env
!.env.example
web/inc/models
client_secret_222517592163-eotadpkna5tda1vf9jfopc0madv4fqb0.apps.googleusercontent.com.json
dockerdev/logs/*
web/whispermodels/large-v3-turbo.pt
web/whispermodels/medium.pt
public/node_modules/
public/vendor/
